ul li{
    list-style: none;
}

header{
    display: inline-flex;
}

footer{
    background-color: #285E67;
}

button{
    border-radius: 10px;
    background-color: #285E67;
    color: white;
}

main{
    font-family: 'Times New Roman', Times, serif;
}