ul li{
    list-style: none;
}

header{
    display: inline-flex;
}

footer{
    background-color: #285E67;
    display: flex;
}

button{
    border-radius: 10px;
    background-color: #285E67;
    color: white;
}

body{
    align-items: center;
}
